{% extends 'base.html' %}
{% block title %}Delete Task{% endblock %}

{% block content %}

<br>
<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <p>Are you sure you want to delete "{{ task.category}} - {{ task }}"?</p>

      <form action="{% url 'task:delete_task' task.id %}" method="POST">

        {% csrf_token %}
        <a class="btn btn-warning" href="{% url 'dashboard:home' %}">No</a>
        <input class="btn btn-danger" type="submit" value="Yes">

      </form>
    </div>
  </div>
</div>



{% endblock %}