{% load static %}
<div class="row mt-4" id="new-task-wrapper">
  <div class="card card-body shadow form-bg">
    <div class="row">
      <div class="col mb-3">
        <div class="d-flex justify-content-between mb-3">
          <div class="text-white fs-4 newtask-boardName"></div>
          <div class="d-none delete-task-button">
            <button class="btn btn-block btn-sm fw500 w-100" data-placeholder="bottom" data-taskid="" data-taskname=""
              id="delete-task">Delete</button>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="">
            <label class="text-white mb-1">Category*</label>
            <span class="d-flex">
              <select name="category" class="card bg-dark text-light newtask-categorySelect" id="id_category">
              </select>
              <div class="category-tooltip-div ms-2" data-bs-toggle="tooltip" data-bs-placement="right" title="">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
                  fill="orange" class="bi bi-plus-square
                  {% if not user.is_authenticated and categories|length >= 3 %}
                  add-category-guest
                  {% else %}
                  rename-add-icon category-add-icon
                  {% endif%}
                  global-add-category-icon" viewBox="0 0 16 16" data-sender="category" data-action="add" data-bs-placement="right"
                data-placeholder="Enter Category name" data-value="" data-source="new-task">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                </div> 
            </span>
          </div>
          <div class="task-status d-none">
            <label class="text-white mb-1">Status</label>
            <select name="status" class="card bg-dark text-light task-statusSelect" id="id_status">
            </select>
          </div>
        </div>
      </div>
    </div>

    <label class="text-white mb-1" for="id_name">Name*</label>
    <input type="text" class="card bg-dark text-light" id="id_name" placeholder="Enter name" value="">
    <br>
    <label class="text-white mb-1" for="id_description">Description</label>
    <textarea class="card bg-dark text-light" name="description" id="id_description" cols="30" rows="5"
      placeholder="Enter description">{{ task.description }}</textarea>
    <br>


    <div id="subtask-div">
      <div class="row m-0">
        <label class="text-white mb-1 p-0" for="subtask-lb">Subtasks</label>
        <input type="text-sub" id="subtask-input" class="card subtask-lb bg-dark text-light col-10 p-0"
          placeholder="Enter subtask">
      </div>
      <br>

      <div id="individual-subtask"></div>

    </div>
    <br>

    <div class="taskForm-bottom-section row align-items-end">
      <div class="form-check form-switch mt-2 mb-3 ms-3 custom-checkbox-wrapper">
        <input class="form-check-input custom-checkbox" id="create-and-continue" type="checkbox"
          id="flexSwitchCheckChecked">
        <label class="form-check-label text-white" for="flexSwitchCheckChecked">Create and continue</label>
      </div>
      <div class="col-9">
        <button type="submit" data-edit="" data-taskID="" class="btn btn-success btn-block fw500 w-100"
          id="create-task"></button>
      </div>
      <div class="col-3">
        <button class="btn btn-block fw500 w-100" id="cancel-task">Cancel</button>
      </div>

    </div>

  </div>
</div>


<script>
  var CREATE_TASK_URL = '{% url "task:task_manager" %}';
  var DASHBOARD_HOME_URL = '{% url "dashboard:home" %}';
  var CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="{% static 'task/js/task_form.js' %}" data-rel-js></script>