{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% block content %}

<div class="d-flex justify-content-center">
  <div class="row mt-4" id="register-wrapper">

    <div class="card card-body shadow form-bg">
      <form action="" method='POST'>
        {% csrf_token %}

        {% if form.errors %}
        <p class="text-warning">Please correct the following errors:</p>
        {% for field in form %}
        {% if field.errors %}
        <div class="alert alert-dark" role="alert">
          {{ field.label }}: {{ field.errors|striptags }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <label class="text-white mb-1">{{ form.user_name.label }}<span class="text-white-50 small">
            (Required)</span></label>
        {{ form.user_name }}
        <label class="text-white mb-1">{{ form.email.label}}<span class="text-white-50 small">
            (Required)</span></label>
        {{ form.email }}
        <label class="text-white mb-1">{{ form.password.label}}<span class="text-white-50 mb-4">
          </span></label>
        <small class="form-text text-white-50 mb-4 small">
          At least 8 characters and 1 digit
        </small>
        {{ form.password }}
        <label class="text-white mb-1">{{ form.password2.label}}<span class="text-white-50 small">
            (Required)</span></label>
        {{ form.password2 }}

        <button class="btn btn-success btn-block py-2 mb-4 mt-4 fw500 w-100" type="submit">Register</button>
        <p class="text-center">
          <a class="text-white-50 link-decor" href="{% url 'account:login' %}">Already have an account?</a>
        </p>
      </form>
    </div>

  </div>
</div>
{% endblock %}