/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 200px;
    height: 100vh;
    overflow-y: hidden;
    transition: 0.3s;
}

/* Main content */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 200px;
    transition: 0.3s;
}

/* Change the width of the sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 0;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 0px;
}

/* Sidebar styling */
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-item {
    display: block;
    color: white;
    text-indent: 20px;
    line-height: 40px;

}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav .hovered-nav-item:hover {
    background: #343a41;
}

.sidebar-nav .hovered-nav-item,
.board-item,
.category-item:hover {
    cursor: pointer;
}

.item-selected {
    background: #464e57;
}

.sidebar-nav hr {
    background-color: white;
}

/* Total numbers */
.total-number {
    border-radius: 5px;
    border: 2px solid #666;
    color: #fff;
    margin: auto 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 0;
}

.category-item {
    width: 100%;
}

.number {
    padding: 5px;
}


/* Board section */
.board-name {
    width: 100%;
}


#sidebar-boards {
    height: 300px;
    overflow-x: hidden;
    border-top: 1px solid #9d9a9a;
}

/* Category section */
#sidebar-categories{
    height: 300px;
    overflow-x: hidden;
    border-top: 1px solid #9d9a9a;
}

/* Section wrappers */
#sidebar-new-task-wrapper,
#board-wrapper,
#category-wrapper
{
    border: 2px solid #976304;
    border-radius: 5px;
}

#sidebar-new-task{
    height: 150px;
}

.new-task-text{
    position: relative;
    top: 10px
}

.newtask-icon{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.newtask-icon:hover{
    fill: yellowgreen;
    cursor: pointer;
}

/* Dropdown */
.dot-icon {
    fill: #fff;
    height: 100%;
}

.sidebar-dropdown {
    position: relative;
    margin-right: 10px;
}

.dot-icon:hover {
    fill: tomato;
    cursor: pointer;
}

.dropdown .dropdown-menu {
    height: 60px;
    min-width: 30px;
    border: 1px solid lightblue;
    left: 50% !important;
    top: -10px !important;
}

.rename-add-icon-sidebar {
    fill: rgb(2, 168, 2);
    width: 100%;
    margin-bottom: 7px;
}

.rename-add-icon-sidebar:hover {
    cursor: pointer;
    fill: rgb(0, 243, 0);
}

/* Add icon */
.sidebar-add-icon{
    height: 100%;
}

.sidebar-add-icon:hover{
    cursor: pointer;
    fill: yellow;
}
