/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 200px;
    height: 100vh;
    overflow-y: hidden;
}

/* Main content */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-left: 200px;
}

/* Change the width of the sidebar to display it */
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 0;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 0px;
}

/* Sidebar styling */
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-item {
    display: block;
    color: white;
    text-indent: 20px;
    line-height: 40px;

}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav .hovered-nav-item:hover {
    background: #3b4249;
}

.sidebar-nav .hovered-nav-item .board-item,
.category-item:hover {
    cursor: pointer;
}

.item-selected {
    background: #3b4249;
}

.sidebar-nav hr {
    background-color: white;
}

/* Total numbers */
.total-number {
    border-radius: 5px;
    border: 2px solid #666;
    color: #fff;
    margin: auto 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 0;
}

.category-item {
    width: 100%;
}

.number {
    padding: 5px;
}

/* Rename/delete icon */
.rename-icon-sidebar {
    fill: rgb(2, 168, 2);
    width: 100%;
}

.rename-icon-sidebar:hover {
    cursor: pointer;
    fill: rgb(0, 243, 0);
}

.delete-icon-sidebar {
    width: 100%;
    margin-top: 10px;
}

.delete-icon-sidebar:hover {
    cursor: pointer;
    fill: orangered;
}

/* Board name */
.board-item {
    width: 100%;
}

/* Category name */
.category-item {
    width: 100%;
}

/* Dropdown */
.dot-icon {
    fill: #fff;
    height: 100%;
}

.dot-icon:hover {
    fill: tomato;
    cursor: pointer;
}

.dropdown .dropdown-menu {
    min-width: 30px;
    border: 1px solid lightblue;
    left: 50% !important;
    top: -10px !important;

}