/* Registration / Login form styling */
#register-wrapper {
    width: 500px;
}

.form-bg {
    background: #454545;
}

.link-decor {
    text-decoration: none;
}

.link-decor:hover {
    text-decoration: underline;
}
