{% extends 'base.html' %}
{% block title %}Password Reset{% endblock title %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
  window.location.href = '{% url "dashboard:home" %}';
</script>
{% endif %}

<div class="d-flex justify-content-center">
  <div class="row mt-4" id="">

    <div class="card card-body shadow form-bg">
      <form action="{% url 'account:pwdreset' %}" method='POST'>
        {% csrf_token %}
        <p class="text-center mb-3 fs-4" style="color:orange;">
          Enter your email to obtain password reset link
        </p>
        {% if form.errors %}
        <div class="alert alert-primary" role="alert">
          Error: Please try again!
        </div>
        {% endif %}

        {{ form.email }}

        <button class="btn btn-success btn-block py-2 mb-4 fw500 w-100" type="submit">Send email</button>

        <p class="text-center mb-0">
          <a class="text-white-50 link-decor" href="{% url 'dashboard:home' %}">Back to Dashboard</a>
        </p>
      </form>
    </div>

  </div>
</div>

{% endblock content %}