{% extends 'base.html' %}
{% block title %}Password Reset{% endblock title %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
  window.location.href = '{% url "dashboard:home" %}';
</script>
{% endif %}

<div class="d-flex justify-content-center">
  <div class="row mt-4" id="">

    <div class="card card-body shadow form-bg">
      <form action="" method='POST'>
        {% csrf_token %}
        <p class="text-center mb-3 fs-4" style="color:orange;">
          Enter your new password
        </p>
        {% if form.errors %}
        <div class="alert alert-primary" role="alert">
          Error: Please try again!
        </div>
        {% endif %}

        <label class="text-white mb-1">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}

        <label class="text-white mb-1">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}

        <ul class="text-white">
          <li>Your password can’t be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can’t be a commonly used password.</li>
          <li>Your password can’t be entirely numeric.</li>
        </ul>
        <button class="btn btn-success btn-block py-2 mb-4 mt-3 fw500 w-100" type="submit">Submit</button>


      </form>
    </div>

  </div>
</div>

{% endblock content %}