{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .test {
    z-index: 1;
    position: fixed;
    width: 200px;
    height: 100vh;
  }
</style>

<link rel="stylesheet" href="{% static 'dashboard/sidebar/css/sidebar.css' %}">

<li class="row hovered-nav-item active-category mb-1" value="-1">
  <div class="category-link fs-5 text-white" id="sidebar-all-tasks" value="-1">
    All 
  </div>
</li>

<ul class="sidebar-nav test bg-dark">
  <div id="sidebar-categories">
    <li class="row hovered-nav-item active-category mb-1">
      <span class="d-flex justify-content-between">
        <div class="category-item">
          <span class="category-link d-flex fs-5 text-white total-tasks-number">
            <div class="category-name">
              Sound
            </div>
            <!-- This is for append--><!--also fix the acitve cat highlight-->
            <div class="total-number">
              <div class="number">3</div>

            </div>
          </span>
        </div>
        <div class="dropdown d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-three-dots-vertical dot-icon"
            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" viewBox="0 0 16 16">
            <path
              d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
          </svg>

          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
            <li class="d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pen-fill bs-icon rename-icon-sidebar" data-bs-placement="top" data-type="category"
                data-sender="sidebar" data-action="rename" data-placeholder="" viewBox="0 0 16 16">
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
              </svg>
            </li>
            <li class="d-flex">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="orange"
                class="bi bi-x-lg delete-icon-sidebar del-icon" data-type="category" data-sender="sidebar"
                data-action="delete" viewBox="0 0 16 16">
                <path
                  d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
              </svg>
            </li>
          </ul>
        </div>
      </span>
    </li>
  </div>
</ul>













{% endblock content %}