{% load static %}
<div class="row accordion reload-board">

  <div class="col-lg-3 col-md-6 col-sm-12">
    <h2 class="text-secondary font-monospace text-center" id="planned-total">Planned {{ planned|length }}</h2>
    <hr class="new1">

    <div class="task-col" id="tasks-planned">

      {% for task in planned %}
      {% include 'dashboard/task/task_card.html' %}
      {% endfor %}

    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <h2 class="text-primary font-monospace text-center" id="in-progress-total">In Progress {{ in_progress|length }}</h2>
    <hr class="new2">

    <div class="task-col" id="tasks-in-progress">

      {% for task in in_progress %}
      {% include 'dashboard/task/task_card.html' %}
      {% endfor %}

    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">

    <h2 class="text-danger font-monospace text-center" id="testing-total">Testing {{ testing|length }}</h2>
    <hr class="new3">

    <div class="task-col" id="tasks-testing">

      {% for task in testing %}
      {% include 'dashboard/task/task_card.html' %}
      {% endfor %}

    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">

    <h2 class="text-success font-monospace text-center" id="completed-total">Completed {{ completed|length }}</h2>
    <hr class="new4">

    <div class="task-col" id="tasks-completed">

      {% for task in completed %}
      {% include 'dashboard/task/task_card.html' %}
      {% endfor %}

    </div>
  </div>
</div>

<script>
  var COMPLETED_SUBTASKS = '{{ completed_subtasks }}';
  var TASK_IDS = '{{ task_ids }}';
</script>
<script src="{% static 'task/js/task_card.js' %}" data-rel-js></script>