{% load static %}
<div class="row accordion reload-board">

  <div class="col-lg-3 col-md-6 col-sm-12">
    <h2 class="text-secondary font-monospace text-center">Planned {{ planned|length }}</h2>
    <hr class="new1">

    <div class="p-3 task-col">

      {% for task in planned %}
      {% include 'dashboard/task/task.html' %}
      {% endfor %}

    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <h2 class="text-primary font-monospace text-center">In Progress {{ in_progress|length }}</h2>
    <hr class="new2">

    <div class="p-3 task-col">

      {% for task in in_progress %}
      {% include 'dashboard/task/task.html' %}
      {% endfor %}

    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">

    <h2 class="text-danger font-monospace text-center">Testing {{ testing|length }}</h2>
    <hr class="new3">

    <div class="p-3 task-col">

      {% for task in testing %}
      {% include 'dashboard/task/task.html' %}
      {% endfor %}

    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">

    <h2 class="text-success font-monospace text-center">Completed {{ completed|length }}</h2>
    <hr class="new4">

    <div class="p-3 task-col">

      {% for task in completed %}
      {% include 'dashboard/task/task.html' %}
      {% endfor %}

    </div>
  </div>
</div>
  <script src="{% static 'task/js/task.js' %}"></script>