{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
 <link rel="stylesheet" href="{% static 'dashboard/sidebar/sidebar.css' %}">

<div id="wrapper">

  <div id="sidebar-wrapper">
    {% include 'dashboard/sidebar.html' %}
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <a href="#" class="btn btn-success" id="menu-toggle">Toggle Menu</a>
          {% include 'dashboard/status.html' %}
          {% include 'dashboard/board.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$("#menu-toggle").click(function(e){
  e.preventDefault();

  $("#wrapper").toggleClass("menuDisplayed");

});
</script>


{% endblock content %}