{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}

{% block content %}




{% include 'dashboard/status.html' %}
<div class="accordion">
  <div class="row">

    <div class="col-md">

      <h2 class="text-secondary font-monospace text-center">Planned {{ total_planned }}</h2>
      <hr class="new1">
     
      <div class="p-3" id="task-col">

        {% for task in planned %}
        {% include 'dashboard/task/task.html' %}
        {% endfor %}

      </div>
    </div>

    <div class="col-md">

        <h2 class="text-primary font-monospace text-center">In Progress {{ total_inprogress }}</h2>
      <hr class="new2">

      <div class="p-3" id="task-col">

        {% for task in in_progress %}
        {% include 'dashboard/task/task.html' %}
        {% endfor %}

      </div>
    </div>

    <div class="col-md">

        <h2 class="text-danger font-monospace text-center">Testing {{ total_testing }}</h2>
      <hr class="new3">

      <div class="p-3" id="task-col">

        {% for task in testing %}
        {% include 'dashboard/task/task.html' %}
        {% endfor %}

      </div>
    </div>

    <div class="col-md">

        <h2 class="text-success font-monospace text-center">Completed {{ total_completed }}</h2>
      <hr class="new4">

      <div class="p-3" id="task-col">

        {% for task in completed %}
        {% include 'dashboard/task/task.html' %}
        {% endfor %}

      </div>
    </div>

  </div>
</div>


{% endblock content %}