{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/sidebar/css/sidebar.css' %}">

<ul class="sidebar-nav">
  <li class="container hovered-nav-item">
    <div class="fs-4 mt-2"><a href="{% url 'task:new_task' %}">
        <span class="align-middle">New Task
      </a>
    </div>
  </li>
  <hr>
  <div class="container">
    <li class="fs-4 row hovered-nav-item mb-1"><a href="{% url 'dashboard:new_board' %}">
        New Board
      </a>
    </li>
    {% for board in boards %}
    <li class="row hovered-nav-item active-board mb-1" value="{{ board.id }}">
      <div class="board-link fs-5 text-white col-9" value="{{ board.id }}">
        {{ board.name }}
      </div>
      <a href="#" class="col-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange"
          class="bi bi-x-lg delete-icon" viewBox="0 0 16 16">
          <path
            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
        </svg>
      </a>
    </li>
    {% endfor %}
  </div>

  <hr>

  <div class="container">
    <li class="fs-4 row hovered-nav-item mb-1"><a href="#">
        New Category
      </a>
    </li>
    <li class="row hovered-nav-item active-category mb-1" value="-1">
      <div class="category-link fs-5 text-white" value="-1">
        All {% if tasks %}<span class="nav-total-number">{% if tasks|length > 0 %} {{ tasks|length }}{% endif %}</span>{% endif %}
      </div>
    {% for category in categories %}
    <li class="row hovered-nav-item active-category mb-1" value="{{ category.id }}">
      <div class="category-link fs-5 text-white col-9" value="{{ category.id }}">
        {{ category.name }} <span class="nav-total-number">{% if category.task.all|length > 0 %} {{ category.task.all|length }}{% endif %}</span>
      </div>
      <a href="#" class="col-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange"
          class="bi bi-x-lg delete-icon" viewBox="0 0 16 16">
          <path
            d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
        </svg>
      </a>
    </li>
    {% endfor %}
  </div>
  <hr>
  <div class="container">
  {% if user.is_authenticated %}
  <p class="text-white">Hello, {{user.user_name }}</p>
  {% else %}
    <a href="{% url 'account:register' %}">Register</a>

  {% endif %}
  </div>
  
</ul>

<script>
  var SET_ACTIVE_BOARD_URL = '{% url "dashboard:set_active_board" %}';
  var SET_ACTIVE_CATEGORY_URL = '{% url "dashboard:set_active_category" %}';
  var CSRF_TOKEN = '{{ csrf_token }}';
  var HIGHLIGHTED_BOARD = '{{ highlighted_board }}';
  var HIGHLIGHTED_CATEGORY = '{{ highlighted_category }}';
</script>
<script src="{% static 'dashboard/sidebar/js/sidebar.js' %}" data-rel-js></script>