{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/sidebar/css/sidebar.css' %}">

<ul class="sidebar-nav">
  <li class="container hovered-nav-item">
    <div class="fs-4 mt-2"><a href="{% url 'task:new_task' %}">
        <span class="align-middle">New Task
      </a>
    </div>
  </li>
  <hr>
  <div class="container">
    <li class="fs-4 row hovered-nav-item mb-1"><a href="#">
        New Board
      </a>
    </li>
    {% for board in boards %}
    <li class="row hovered-nav-item active-board mb-1" value="{{ board.id }}">
      <span class="d-flex justify-content-between">
        <div class="fs-5 text-white board-link" value="{{ board.id }}">
          {{ board.name }}
        </div>
        <div class="dropdown">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            class="bi bi-three-dots-vertical dot-icon" type="button" id="dropdownMenuButton{{ board.id }}"
            data-bs-toggle="dropdown" aria-expanded="false" viewBox="0 0 16 16">
            <path
              d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
          </svg>

          <ul class="dropdown-menu dropdown-menu-dark"  aria-labelledby="dropdownMenuButton{{ board.id }}">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pen-fill bs-icon rename-icon-sidebar" data-bs-placement="top" data-type="board" data-sender="sidebar"
                data-action="rename" data-placeholder="" data-value="{{ board.name }}" data-id="{{ board.id }}"
                viewBox="0 0 16 16">
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
              </svg>
            </li>

            {% if boards|length > 1 %}
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="orange"
                class="bi bi-x-lg delete-icon-sidebar del-icon" data-type="board" data-sender="sidebar"
                data-action="delete" data-id="{{ board.id }}" viewBox="0 0 16 16">
                <path
                  d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
              </svg>
            </li>
            {% endif %}
          </ul>
        </div>
      </span>
    </li>
    {% endfor %}
  </div>

  <hr>

  <div class="container sidebar-reload">
    <li class="fs-4 row hovered-nav-item mb-1"><a href="#">
        New Category
      </a>
    </li>
    <li class="row hovered-nav-item active-category mb-1" value="-1">
      <div class="category-link fs-5 text-white" id="sidebar-all-tasks" value="-1">
        All {% if total_tasks|length > 0 %}<span class="nav-total-number">
          {{ total_tasks|length }}</span>{% endif %}
      </div>
    </li>
    <div id="sidebar-categories">
      {% for category in categories %}
      <li class="row hovered-nav-item active-category mb-1" value="{{ category.id }}">
        <span class="d-flex justify-content-between">
        <div class="category-link fs-5 text-white col-9 total-tasks-number" value="{{ category.id }}">
          {{ category.name }}
        </div>
        <div class="dropdown">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            class="bi bi-three-dots-vertical dot-icon" type="button" id="dropdownMenuButton{{ category.id }}"
            data-bs-toggle="dropdown" aria-expanded="false" viewBox="0 0 16 16">
            <path
              d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
          </svg>

          <ul class="dropdown-menu dropdown-menu-dark"  aria-labelledby="dropdownMenuButton{{ category.id }}">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pen-fill bs-icon rename-icon-sidebar" data-bs-placement="top" data-type="category" data-sender="sidebar"
                data-action="rename" data-placeholder="" data-value="{{ category.name }}" data-id="{{ category.id }}"
                viewBox="0 0 16 16">
                <path
                  d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
              </svg>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="orange"
                class="bi bi-x-lg delete-icon-sidebar del-icon" data-type="category" data-sender="sidebar"
                data-action="delete" data-id="{{ category.id }}" viewBox="0 0 16 16">
                <path
                  d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z" />
              </svg>
            </li>
          </ul>
        </div>
        </span>
      </li>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class="container">
    {% if user.is_authenticated %}
    <p class="text-white">Hello, {{user.user_name }}</p>
    <br>
    <a href="{% url 'account:logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'account:login' %}">Login</a>
    or
    <a href="{% url 'account:register' %}">Register</a>

    {% endif %}
  </div>

</ul>

<script>
  var SET_ACTIVE_BOARD_URL = '{% url "dashboard:set_active_board" %}';
  var SET_ACTIVE_CATEGORY_URL = '{% url "dashboard:set_active_category" %}';
  var CSRF_TOKEN = '{{ csrf_token }}';
  var HIGHLIGHTED_BOARD = '{{ highlighted_board }}';
  var HIGHLIGHTED_CATEGORY = '{{ highlighted_category }}';
  var TOTAL_TASKS_PER_CATEGORY = '{{ total_tasks_per_category }}';
</script>
<script src="{% static 'dashboard/sidebar/js/sidebar.js' %}" data-rel-js></script>