<div class="row">

  <div class="col-md">
    <div class="card text-center text-white  mb-3" id="tasks-created">
      <div class="card-header">
        <h5 class="card-title">Tasks Created</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title"></h3>
      </div>
    </div>
  </div>

  <div class="col-md">
    <div class="card text-center text-white  mb-3" id="tasks-inprogress">
      <div class="card-header">
        <h5 class="card-title">Tasks in Progress</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title"></h3>
      </div>
    </div>
  </div>

  <div class="col-md">
    <div class="card text-center text-white  mb-3" id="tasks-finished">
      <div class="card-header">
        <h5 class="card-title">Tasks Finished</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title"></h3>
      </div>
    </div>
  </div>

  <div class="col-md">
    <div class="card text-center text-white  mb-3" id="total-tasks">
      <div class="card-header">
        <h5 class="card-title">Total</h5>
      </div>
      <div class="card-body">
        <h3 class="card-title"></h3>
      </div>
    </div>
  </div>

</div>